@page
@using Altairis.TagHelpers

<!DOCTYPE html>
<html>
<head>
    <title></title>
    <style>
        body {
            font-family: Consolas, Courier New, Courier, monospace;
        }
    </style>
</head>
<body>
    <h1>Altairis Tag Helpers Demo</h1>

    <h2>GravatarTagHelper</h2>
    <p>Existing user:</p>
    <p>
        <gravatar email="michal.valasek@altairis.cz" size="10" />
        <gravatar email="michal.valasek@altairis.cz" size="20" />
        <gravatar email="michal.valasek@altairis.cz" size="40" />
        <gravatar email="michal.valasek@altairis.cz" />
    </p>
    <p>Nonexisting user:</p>
    <p>
        <gravatar email="example@example.com" title="Default" />
        <gravatar email="example@example.com" title="Blank (border added for clarity)" default-image="@GravatarDefaultImage.Blank" style="border: 1px solid black" />
        <gravatar email="example@example.com" title="IdentIcon" default-image="@GravatarDefaultImage.IdentIcon" />
        <gravatar email="example@example.com" title="MonsterId" default-image="@GravatarDefaultImage.MonsterId" />
        <gravatar email="example@example.com" title="MysteryMan" default-image="@GravatarDefaultImage.MysteryMan" />
        <gravatar email="example@example.com" title="Retro" default-image="@GravatarDefaultImage.Retro" />
        <gravatar email="example@example.com" title="RoboHash" default-image="@GravatarDefaultImage.RoboHash" />
        <gravatar email="example@example.com" title="Wavatar" default-image="@GravatarDefaultImage.Wavatar" />
        <gravatar email="example@example.com" title="Custom" default-image="https://raw.githubusercontent.com/ridercz/Altairis.TagHelpers/master/NuGet-64x64.png" />
    </p>

    <h2>RolesTagHelper</h2>
    <p include-roles="*">Only authenticated users see this.</p>
    <p exclude-roles="?">Only authenticated users see this.</p>
    <p include-roles="?">Only anonymous users see this.</p>
    <p exclude-roles="*">Only anonymous users see this.</p>

    <h2>TimeTagHelper</h2>
    <ul>
        @for (int i = -3; i <= 3; i++) {
            var dt = DateTime.Now.AddDays(i);
            <li><time value="dt"></time></li>
        }
    </ul>

    <h2>TrimLengthTagHelper</h2>
    <p trim-length="20">The quick brown fox jumps over the lazy dog.</p>
    <p trim-length="20" ellipsis-text="...">The quick brown fox jumps over the lazy dog.</p>

    <h2>VisibleTagHelper</h2>
    <p visible="true">Now you see me...</p>
    <p visible="false">...now you don't.</p>

    <h2>ConfirmTagHelper</h2>
    <a href="https://www.rider.cz/" confirm-message="Do you really want to go to 'www.rider.cz'?">Confirmed hyperlink</a>
    <form action="https://www.rider.cz/" method="get">
        <input type="submit" value="Confirmed button" confirm-message="Do you really want to go to 'www.rider.cz'?" />
    </form>

    <h2>AssemblyVersionTagHelper</h2>
    <ul>
        <li><assembly-version display="Major" /></li>
        <li><assembly-version display="Minor" /></li>
        <li><assembly-version display="Build" /></li>
        <li><assembly-version display="Revision" /></li>
        <li>Build time: <assembly-version display="BuildTime" /></li>
    </ul>
</body>
</html>